body{
    background-color: rgba(208, 31, 31, 0.996);
    color: rgb(10, 1, 1);
    
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}

 .cabeçalho{
    background-color: rgb(156, 183, 255);
    text-align: center;
    padding: 20px;
}
.imagem-post{
    width: 1000px;
    height: 1000px;
}
main{
    background-color: rgb(151, 26, 26);
    color: rgb(11, 1, 1);
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
article{
    display: flex;
}
.texto-post{
    margin-left: 40px;
}
button{
    width:100px;
    padding:10px;
    border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color:black;
}
.img01{
    width: 500px;
    height: 800px;
}
.img02{
    width: 500px;
    height: 500px;
}