body{
    background-color: rgba(208, 31, 31, 0.996);
    color: rgb(10, 1, 1);
    
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}

 .cabeçalho{
    background-color: red;
    text-align: center;
    padding: 20px;
}
.imagem-post{
    width: 80px;
    height: 100px;
}
main{
    background-color: red;
    color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
article{
    display: flex;
}
.texto-post{
    margin-left: 40px;
}
button{
    width:100px;
    padding:10px;
    border-radius: 10px;
    border-radius: 10px;
    background-color: darkred
    color:black;
}