body{
    background-color: rgba(77, 6, 6, 0.996);
    color: rgb(10, 1, 1);
    
}
h1{
  font-family: "Archivo Black", sans-serif;
  font-weight: 1000;
  font-style: normal;
  text-align: center;
}
h2{
    font-family: "Archivo Black", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-align:center;
    margin-block-start: -130px;
}
p{
    font-family: "Archivo Black", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-align: center;
    margin-block-start: 100px;
}
    background-color: rgb(192, 26, 26);
    text-align: center;
    padding: 20px;
}
.imagem-post{
    width: 1000px;
    height: 1000px;
}
main{
    background-color: rgb(151, 26, 26);
    color: rgb(11, 1, 1);
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
article{
    display: flex;
}
.texto-post{
    margin-left: 40px;
    margin-block-start: 230px;
}
button{
    width:120px;
    padding:15px;
    border-radius: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color:black;
}
.img01{
    width: 500px;
    height: 800px;
}
.img02{
    width: 500px;
    height: 500px;
}